.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

h1 {
  margin-bottom: 1rem;
}

ul {
  margin-left: 1.5rem;
}

li {
  margin-bottom: 1rem;
}

.about a {
  color: #e6a800;
}
