.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.dados {
  padding: 0px;
  list-style: none;
}

.dados li {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.icon {
  margin-right: 0.5rem;
}
