.header {
  margin-bottom: 2rem;
}

.header ul {
  display: flex;
  padding: 0px;
  margin: 0px;
  list-style: none;
  gap: 1rem;
}

.link {
  display: block;
  text-decoration: none;
  font-size: 1.2rem;
  color: #333;
  background: #eee;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.link:hover,
.header :global(.active) {
  background-color: #ffc933;
}
