.logo {
  z-index: 1;
  text-align: right;
  font-size: 5rem;
  margin: 2rem 1rem -1rem;
  color: #333;
  font-weight: 700;
  justify-self: left;
}

.logoIcon {
  font-size: 2.6rem;
}

.span {
  color: #f8b500;
  text-shadow: 1px 1px #999;
}
