.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.product img {
  margin-bottom: 2rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.preco {
  padding: 0.5rem;
  background: #91fb5d;
  color: #017e01;
  border-radius: 5px;
}

.descricao {
  font-size: 0.8rem;
  line-height: 1.2;
}

.icon {
  font-size: 2rem;
  color: #ccc;
}

.icon:hover {
  color: #ffc933;
}

@media only screen and (max-width: 600px) {
  .product {
    gap: 1rem;
  }

  .info {
    gap: 1.2rem;
  }

  .icon {
    font-size: 1.6rem;
  }

  .product h1 {
    margin-bottom: 0rem;
  }

  .preco {
    font-size: 0.9rem;
  }
}
