.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nome {
  margin: 0.8rem 0;
}

@media only screen and (max-width: 600px) {
  .nome {
    margin: 0.5rem 0;
    text-align: center;
  }
  .products {
    gap: 0.5rem;
  }
}
