@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: #333;
}

h1 {
  font-size: 1.6rem;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  min-width: 600px;
  margin: 0 auto;
}

.App {
  padding: 2rem;
  background-color: white;
  border-radius: 5px;
}

.animeLeft {
  transform: translateX(-20px);
  opacity: 0;
  animation: animeLeft 0.5s forwards;
}

@keyframes animeLeft {
  to {
    transform: initial;
    opacity: initial;
  }
}

.loading {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 10px solid #ccc;
  border-right-color: transparent;
  animation: loading 1s infinite;
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}
